.idea
.project
.settings/
ozark/.idea
ozark/target
ozark-sample/target/
ozark-sample/.idea
/api/target/
/test/jsp/target/
/test/facelets/target/
/test/target/
/test/sample/target/
ext/freemarker/target/
*/.classpath
*/*/.classpath
