doctype html
html
  head
    title= pageName
    link(rel='stylesheet', href='#{mvc.contextPath}/ozark.css')
  body
    h1 Hello Helper
    p.result= math.round(3.14159)
  include includes/footer.jade